dialog{
    background-color: white;
    max-width: 75vw;
    width: 75%;
}
dialog-modal{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.modal-header{
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--very-light-grey);
}
.modal-body{
    padding: 16px;
}