audit-page{
    height: 100%;
}
.page-header{
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-background-color);
    font-weight: 700;
    text-align: left;
    padding-left: 60px;
    font-size: 1.802rem;
}
.page-body{
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    color: var(--medium-grey);
}
.tab-section{
    display: flex;
}
.tab-section div{
    
}
.export-csv{
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-background-color);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 0.75rem;
}
.actions-section{
    display: flex;
    justify-content: space-between;
    background: var(--light-grey);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.search-section input{
    border-radius: 4px;
    margin-top: 5px;
    padding: 3px;
    border: 1px solid var(--primary-background-color);
    font-size: 0.8rem;
    width: 16%;
    min-width: 240px;
}
.header-section{
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-size: 110%;
    font-weight: bold;
}
.column-header{
    padding: 0.75rem;
    background: var(--light-green);
    border-top: 1px solid var(--very-light-grey);
}
.first-column{
    border-top-left-radius: 7px;
    border-left: 1px solid var(--very-light-grey);
}
.last-column{
    border-top-right-radius: 7px;
    border-right: 1px solid var(--very-light-grey);
}
.items{
    border: 1px solid var(--very-light-grey);
}
.table-item{
    display: grid;
    border-bottom: 1px solid var(--very-light-grey);
}
.table-item div{
    padding: 0.75rem;
}
.view-details{
    color: var(--primary-background-color);
    font-weight: bold;
    transition: color 0.3s ease;
}
.view-details:hover{
    text-decoration: underline;
    color: var(--highlight-green);
}
.no-data-label{
    font-weight: bolder;
}
.no-data-instructions{
    font-style: italic;
}