<div class="sidebar-item groups" data-local-action="changePage groups-page">
    <span>Groups</span>
</div>
<div class="sidebar-item my-identities" data-local-action="changePage groups-page">
    <span>My identities</span>
</div>
<div class="sidebar-item integration" data-local-action="changePage groups-page">
    <span>Integration</span>
</div>
<div class="sidebar-item audit" data-local-action="changePage groups-page">
    <span>Audit</span>
</div>
<div class="sidebar-item health-check" data-local-action="changePage groups-page">
    <span>Health Check</span>
</div>
<div class="sidebar-item logout">
    <span>Logout</span>
</div>