left-sidebar{
    height: 100%;
    width: 190px;
    padding: 45px 0;
    background-color: var(--dw-app-color);
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: center;
    font-size: 1.2em;
    color: var(--dw-inactive-item-color);
    overflow-y: scroll;
}
.sidebar-item::before{
    display: block;
    content: "";
    background-color: var(--dw-inactive-item-color);
    color: var(--dw-inactive-item-color);
    height: 55px;
    aspect-ratio: 1;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    margin-bottom: 10px;

}
.groups::before{
    mask-image: url("./assets/images/icons/menu-groups.svg");
}
.my-identities::before{
    mask-image: url("./assets/images/icons/menu-my-identities.svg");
}
.integration::before{
    mask-image: url("./assets/images/icons/menu-api-key.svg");
}
.audit::before{
    mask-image: url("./assets/images/icons/menu-audit.svg");
}
.health-check::before{
    mask-image: url("./assets/images/icons/menu-health-check.svg");
}
.logout::before{
    mask-image: url("./assets/images/icons/menu-logout.svg");
}
.sidebar-item:hover::before{
    background-color: var(--dw-active-item-color);
}
.sidebar-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-item:hover{
    cursor: pointer;
}
.sidebar-item:hover span{
    color: var(--dw-active-item-color);
}