.idea
mobile/scan-app
ethadapter
gtin-resolver
apihub-root/dsu-fabric/WebSkel
apihub-root/demiurge/WebSkel
apihub-root/demiurge-wallet/loader
apihub-root/leaflet-wallet/loader
apihub-root/dsu-fabric-wallet/loader
themes
dossier-explorer-wallet-prototype
apihub-root/dsu-explorer/loader
apihub-root/internal-volume/domains
apihub-root/external-volume/domains
gtin-dsu-wizard
dossier-explorer-ssapp
express-demo
ethereum-anchoring
dsu-fabric-ssapp
node_modules
env.json.devel
opendsu-sdk/builds/output/
.git

acdc-authentication-feature-template/
acdc/
apihub-root/bundles/
apihub-root/external-volume/mqs/
apihub-root/external-volume/wallets/
apihub-root/lightweight-pwa/lib/
.ssotoken
demiurge/
delayv-auth-feat-ssapp/
reporting-service/
truemedhemo-auth-feat-ssapp/

apihub-root/external-volume/config/apihub.json

.htpassword.secret

apihub-root/lwa/
apihub-root/initialEncryptionTest
apihub-root/dsu-fabric/bundles/
apihub-root/demiurge/bundles/
apihub-root/external-volume/locks
apihub-root/external-volume/cache/
apihub-root/external-volume/encryption-keys/
apihub-root/external-volume/lightDB/
apihub-root/external-volume/mq_JWT_Auth_Seeder
apihub-root/external-volume/secrets/
apihub-root/external-volume/fixed-urls/
apihub-root/external-volume/gtinOwner/
apihub-root/external-volume/versionlessdsu/

apihub-root/external-volume/metadata/
!apihub-root/external-volume/metadata/cache/.gitlock
workdocs/uml/*.png
workdocs/coverage/**/*
tests/config/test.config.json
.browserstack
browserstack.yml
apihub-root/external-volume/gtin-counter.lock
