:host .base {
  display: grid;
  align-items: center;
}

:host .header {
  position: relative;
  display: inline-block;
  color: var(--color);
  margin-bottom: 0;
  padding-right: 2.5rem;
}

:host h2,
:host .subheader {
  margin: 0;
}