dialog{
    max-height: 95vh;
    height: 95%;
    border-radius: 3px;

    max-width: 70vw;
    width: 70%;
}
audit-entry-modal{
    height: 100%;
    display: flex;
    flex-direction: column;

}
.modal-header{
    background-color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--very-light-grey);
}
.modal-title{
    font-size: 1.25rem;
    font-weight: 500;
}
.right-section{
    display: flex;
    align-items: center;
}
.close-icon{
    font-size: 24px;
}
.expand-icon{
    margin-right: 20px;
    transform: rotateZ(45deg);
}
.modal-body{
    background-color: var(--primary-text-color);
    padding: 16px;
    color: var(--medium-grey);
    height: calc(100% - 131px);
}
.data-container{
    margin: 0;
    white-space: pre-wrap;
    background-color: white;
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
    line-height: 2rem;
    font-size: 16px;
}

.modal-footer{
    border-top: 1px solid var(--very-light-grey);
    background-color: var(--primary-text-color);
    padding: 16px;
    display: flex;
    justify-content: end;
}
.download-icon{
    height: 15px;
}
.default-button{
    font-size: 110%;
}
.margin-right{
    margin-right: 16px;
}