audit-page {
    display: block;
    height: 100%;
    padding: 40px 28px;
    overflow-y: scroll;
}
.search-user{
    width: 300px;
}
.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 7px;
    margin: 15px 0;
}
.data-item{
    border-bottom: 0.25px solid var(--dw-app-color);
}
.input-container-container {
    display: flex;
    align-items: center;
}

.search-label {
    margin-right: 5px;
}

.table {
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid var(--very-light-grey);
}

.table div {
    padding: 0.75rem;
}

.column-header {
    padding: 0.75rem;
    background: var(--tab-color);
    font-weight: bold;
    border-bottom: 1px solid var(--very-light-grey);
}

.first-column {
    border-top-left-radius: 7px;
}

.last-column {
    border-top-right-radius: 7px;
}
.result-icon {
    height: 10px;
    margin-left: 5px;
}

.rotate {
    transform: rotate(90deg);
}

.table-pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.pagination-btn {
    cursor: pointer;
    background-color: var(--dw-app-color);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: bolder;
}

.margin-right {
    margin-right: 16px;
}


