dialog{
    background: none;
    max-height: 95vh;
    border-radius: 3px;

    max-width: 75vw;
    width: 75%;

}
markets-management-modal{
    margin-left: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-text-color);
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--very-light-grey);
}
.modal-title{
    font-size: 1.25rem;
    font-weight: 500;
}
.right-section{
    display: flex;
    align-items: center;
}
.close-icon{
    font-size: 24px;
}
.expand-icon{
    margin-right: 20px;
}
.modal-body{
    padding: 16px;
    overflow-y: scroll;
}
.markets-management-form{
    display: flex;
    flex-direction: column;
    overflow-y: visible;
}
.form-item{

}
.form-label{
    line-height: 1.5;
}
.form-input{
    width: 100%;
    margin-top: calc(0.375rem + 1px);
    margin-bottom: calc(0.375rem + 1px);
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--medium-grey);
    background-color: white;
    background-clip: padding-box;
    border: 1px solid var(--very-light-grey);
    border-radius: 0.25rem;
}
.modal-footer{
    border-top: 1px solid var(--very-light-grey);
    background-color: var(--primary-text-color);
    padding: 16px;
    display: flex;
    justify-content: end;
}

.default-button{
    font-size: 110%;
}
.margin-right{
    margin-right: 16px;
}