integration-page {
    display: block;
    height: 100%;
    padding: 40px 28px;
}

.integration-form {
    margin-top: 15px;
}

.integration-form.authorize {
    display: block;
}

.integration-form.revoke-authorisation {
    display: none;
}

.authorization-success-section {
    margin-top: 15px;
}

.authorization-success-section.revoke-authorisation {
    display: block;
}

.authorization-success-section.authorize {
    display: none;
}

.bottom-margin {
    margin-bottom: 15px;
}
