integration-page{
    display: block;
    height: 100%;
    padding: 40px 28px;
}
.integration-form{
    margin-top: 15px;
}
.authorization-success-section{
    margin-top: 15px;
}
.bottom-margin{
    margin-bottom: 15px;
}