.inner-tab{
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px 0;
}
.inner-container{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    border: 1.5px solid var(--primary-background-color);
    margin-top: 1em;
    padding: 0.5em;
}
.no-data{
    margin-bottom: 1rem;
    font-style: italic;
}
.tab-button{
    font-size: 16px;
    margin-top: 1rem;
    border: 1px solid var(--primary-background-color);
    border-radius: 3px;
    padding: 7px;
    background: none;
    color: var(--primary-background-color);
}
.strength-img{
    height: 20px;
}
.strength-unit{
    color: var(--primary-background-color);
    border: 1.5px solid var(--primary-background-color);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 8px;
}
.delete-button{
    width: 24px;
    height: 24px;
    box-shadow: 0 0 5px var(--primary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-button:hover{
    box-shadow: 0 0 7px var(--primary-background-color);
}
