.manage-product-container[userrights="readonly"]:before {
    content: "Read only mode";
    color: var(--primary-background-color);
    font-weight: 700;
    text-align: left;
    margin: 0;
    padding-left: 60px;
    font-size: 1.802rem;
    position: absolute;
    top: 95px;
    left: 0px;
    opacity: 0.7;
}
input[type="text"]{
    margin-top: 20px;
}
input[type="text"]:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
manage-product-page {
    height: 100%;
}
.page-header {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-background-color);
    font-weight: 700;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1.802rem;
}

.product-version {
    position: absolute;
    top: 32px;
    right: 145px;
    font-size: 16px;
    font-weight: 400;
}

.page-body{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    color: var(--medium-grey);
}

.product-data-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column-right{
    width: 50%;
}
.column-left{
    margin-right: 60px;
    width: 50%;
}
.form-field-container{
    display: flex;
    justify-content: space-between;
}

.name-of-medicinal-product {
   width: 50%;
}
#productCode{
    margin: 10px 0;
}
.product-description {
    height: 170px;
    resize: none;
    margin-top: 6px;
    margin-bottom: 6px;
    overflow: auto;
}

.product-photo-field {
    padding-bottom: 80px !important;
    height: 100%;
    width: 40%;
}
.product-photo-container{
    margin-top: 6px;
    width: 116px;
    max-height: 175px;
    aspect-ratio: 1;
    max-width: 100%;
    padding: 3px;
    border: 1px solid var(--very-light-grey);
    position: relative;
}
.product-photo {
/*    overlaps strength div*/
    height: 100%;
    width: 100%;
}
.product-photo-container:hover .shadow{
    opacity: 1;
}
.shadow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    z-index: 1;
    pointer-events: none;
}
.material-code{
    width: 50%;
}
.strength{
    width: 40%;
}

/*color: #328569;*/

.form-field {
    display: flex;
    flex-direction: column;
    min-height: 78px;
    padding: 4px 0.75rem;
    border-bottom: 1.5px solid var(--primary-background-color);
    margin-bottom: 1rem;
}

.disabled-form-field {
    color: var(--disabled);
    border-color: var(--disabled);
    background: var(--disabled-background);
    position: relative;
}
.disabled-form-field::after{
    content: '';
    background-image: url("../../../assets/icons/green-ban.svg");
    height: 14px;
    width: 14px;
    position: absolute;
    right: 8px;
    top: calc(50% - 10px);
}
.checkbox{
    padding: 10px;
    border-bottom:none;
    display: block;
    min-height: initial;
}

.label {
    color: var(--primary-background-color);
}
.label[disabled] {
    color: var(--disabled);
}
.text-input::placeholder {
    font-size: 14px;
    font-style: italic;
}
.text-input {
    font-size: 16px;
    border: 0;
    background: transparent;
}


.default-button {
    margin-top: calc(60px - 1rem);
    font-size: inherit;
}

.leaflet-market-tabs {
    display: flex;
    flex-direction: row;
}

.leaflet-market-button {
    width: 50%;
    color: white;
    border: 0;
    font-size: inherit;
}

.inactive{
    background-color: var(--tab-green);
}
.highlighted{
    background-color: var(--primary-background-color);
}
.label-container{
    display: flex;
    justify-content: space-between;
}
.pen-square{
    width: 16px;
}
.pen-square-white{
    width: 16px;
    fill: white;
}
.gtin-validity{
    font-size: 14px;
    font-weight: lighter;
}
.invalid{
    color: red;
}
.valid{
    color: var(--highlight-green)
}
.product-code-invalid{
    background-color: var(--input-invalid);
}
.leaflet-market-button{
    padding: 8px 16px;
}
.inner-tab{
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px 0;
}
.inner-container{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    border: 1.5px solid var(--primary-background-color);
    margin-top: 1em;
    padding: 0.5em;
}
.tab-button{
    font-size: 16px;
    margin-top: 1rem;
    border: 1px solid var(--primary-background-color);
    border-radius: 3px;
    padding: 7px;
    background: none;
    color: var(--primary-background-color);
}
.no-data{
    margin-bottom: 1rem;
    font-style: italic;
}
