<div id="left-sidebar-user">
    <img src="assets/images/user.png" alt="devuser">
    <a href="" class="name">devuser</a>
    <a href="mailto:Company Inc" class="email">Company Inc</a>
</div>

<div id="left-sidebar-menu">
    <div class="left-sidebar-menu-item" data-local-action="navigateToMyAccount">
        <a class="pointer">
            Home
        </a>
    </div>

    <div class="left-sidebar-menu-item" data-local-action="navigateToMyAccount">
        <a class="pointer">
            My Account
        </a>
    </div>

    <div class="left-sidebar-menu-item" data-local-action="navigateToProducts">
        <a class="pointer">
            Products
        </a>
    </div>

    <div class="left-sidebar-menu-item" data-local-action="navigateToBatches">
        <a class="pointer">
            Batches
        </a>
    </div>

    <div class="left-sidebar-menu-item" data-local-action="navigateToAudit">
        <a class="pointer">
            Audit
        </a>
    </div>

    <div class="left-sidebar-menu-item" data-local-action="navigateToBlockchainStatus">
        <a class="pointer">
            Blockchain Status
        </a>
    </div>

    <div class="left-sidebar-menu-item" data-local-action="navigateToLogout">
        <a class="pointer">
            Logout
        </a>
    </div>
</div>