<div id="left-sidebar-container">
    <div id="left-sidebar-user">
        <img id="user-icon" src="assets/images/user.png" alt="devuser">
        <a href="" class="name">devuser</a>
        <a href="mailto:Company" class="email">Company Inc</a>
    </div>
    <div id="left-sidebar-menu">
        <div class="left-sidebar-menu-item">
            <a class="pointer" data-id="home-page" data-local-action="navigateToMyAccount">
                Home
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer" data-id="my-account-page" data-local-action="navigateToMyAccount">
                My Account
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer" data-id="products-page" data-local-action="navigateToProducts">
                Products
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer" data-id="batches-page" data-local-action="navigateToBatches">
                Batches
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer" data-id="audit-page" data-local-action="navigateToAudit">
                Audit
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer" data-id="blockchain-status-page" data-local-action="navigateToBlockchainStatus">
                Blockchain Status
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer" data-id="logout-page" data-local-action="navigateToLogout">
                Logout
            </a>
        </div>
    </div>
</div>