<div id="left-sidebar-container">
    <div id="left-sidebar-user">
        <img id="user-icon" src="assets/images/user.png" alt="devuser">
        <a href="" class="name">devuser</a>
        <a href="mailto:Company" class="email">Company Inc</a>
    </div>
    <div id="left-sidebar-menu">
        <div class="left-sidebar-menu-item">
            <a class="pointer menu-item" data-id="home-page" data-local-action="navigateToPage" data-category="home">
                Home
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer menu-item" data-id="my-account-page" data-local-action="navigateToPage" data-category="my-account">
                My Account
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer menu-item" data-id="products-page" data-local-action="navigateToPage" data-category="product">
                Products
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer menu-item" data-id="batches-page" data-local-action="navigateToPage" data-category="batch">
                Batches
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer menu-item" data-id="audit-page" data-local-action="navigateToPage" data-category="audit">
                Audit
            </a>
        </div>

        <div class="left-sidebar-menu-item">
            <a class="pointer menu-item" data-id="logout-page" data-local-action="navigateToPage" data-category="logout">
                Logout
            </a>
        </div>
    </div>
</div>