
/* responsive sidebar */
/* @media(max-width: 960px) {
    
    left-sidebar:not(.active) {
        display: none;
    }
    left-sidebar.active {
        position: absolute;
        z-index: 1;
    }

    left-sidebar.active + div {
        filter: grayscale(80%);
    }
} 

@media(min-width: 961px) {
    #toggle-sidebar-button { display: none !important; }
}

#toggle-sidebar-button {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border-width: 2px;
    background: #f8f8f8;
    color: #999;
   
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;    
}

#toggle-sidebar-button:hover {
    border-color: var(--primary-background-color) !important;
    cursor: pointer;
}  */


left-sidebar {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    height: 100%;
    width: 240px;
    min-width: 240px;
    padding: 1.8rem 1.5rem;
}

#left-sidebar-container {
    display: grid;
    row-gap: 0.75rem;
    grid-template-rows: auto 1fr;
}

#left-sidebar-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 240px;
}

#left-sidebar-menu:last-child {
    border-bottom: 1px solid var(--primary-border-color);
}

#left-sidebar-menu {
    margin-top: 1rem;
}

.left-sidebar-menu-item {
    border-top: 1px solid var(--primary-border-color);
    padding: 0.6rem 0;
}

#active-menu-item {
    font-weight: 700;
}

#left-sidebar-user a {
    color: var(--primary-text-color);
    width: 100%;
    position: relative;
    max-width: calc(240px - 5px);
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#left-sidebar-user > img {
    width: 3.3rem;
    align-self: center;
}

.name {
    display: flex;
    align-self: center;
    font-size: 1.2rem;
}

.email {
    display: flex;
    align-self: center;
    font-size: 0.9rem;
}
