html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
}
:root{
    /*colors in design*/
    --primary-background-color: #328569;
    --light-green: #9ACFBD;
    --tab-green: #70AA96;
    --medium-grey: #565656;
    --very-light-grey: #dee2e6;
    --primary-text-color: #FAFAFA;
    /*not in design*/
    --primary-border-color: #ffffff4d;
    --medium-green: #097C55;
    --transparent-green: #2BA64912;
    --light-grey: #F9F9F9;
    --teal: #20c997;
    --highlight-green: #28a745;
}
* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

body {
    margin: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    text-size-adjust: none;
}
dialog{
    padding:0 !important;
    outline:none !important;
}
.modal{
    border:none;
}
#page-content {
    width: 100%;
    height:100%;
    min-height: 100%;
    min-width: calc(100% - 240px);
    overflow: scroll;
    z-index: 0;
}
.pointer {
    cursor: pointer;
}


