#groups-page-container {
    padding-top: 45px;
}

#groups-page-title {
    display: inline-block;
    margin: 0 0 15px 28px;
    padding: 0;
}

#groups-page-body {
    padding: 0 28px;
}

#groups-navigation-tabs {
    display: flex;
    background-color: var(--dw-app-color);
}

.tab-header {
    display: inline-flex;
    background: transparent;
    margin: 5px 5px 0px;
    padding: 10px;
    color: #8CCFB9;
    font-weight: 600;
    font-size: 1.2em;
    width: fit-content;
    cursor: pointer;
}

.tab-header.selected {
    border-radius: 10px 10px 0px 0px;
    color: var(--dw-app-color);
    background: url("../../demiurge/assets/images/selected-tab-backround.svg") no-repeat;
    background-size: 100% 100%;
}

.tab-header .tab-header-label {
    padding: 0 25px;
}

#member-did-container {
    display: inline-flex;
    width: 100%;
    gap: 15px;
    transition: 150ms color, 150ms border, 150ms box-shadow;
    cursor: text;
}

#member-did-input {
    border-radius: 8px;
    border: 1px solid #328569;
    background: #FFF;
    font-size: 1rem;
    height: 2.5rem;
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: start;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    transition: 150ms color, 150ms border, 150ms box-shadow;
    cursor: text;
}

#member-did-text {
    height: calc(2.5rem - 1px * 2);
    margin: 0 1rem;
    flex: 1 1 auto;
    font-size: inherit;
    font-weight: inherit;
    min-width: 0;
    color: #328569;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: inherit;
    appearance: none;
}

#add-member-button {
    background-color: var(--dw-app-color);
    box-shadow: none;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: max-content;
    white-space: nowrap;
}

#add-member-button:disabled {
    background-color: #AAAFAE;
}


#add-member-icon, #add-member-label {
    font-size: 1.1rem;
    flex-grow: 1;
    height: 20px;
    line-height: 1.3rem;
}

#paste-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #328569;
    font-style: normal;
    font-weight: 700;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.1rem;
}
