<div class="logs-section">
    <form class="search-section">
        <div class="input-container-container">
            <label class="search-label" for="productCode">Search by product code</label>
            <div class="input-container">
                <input type="text" id="productCode" name="productCode" placeholder="Search by code">
                <div class="x-mark pointer" data-local-action="deleteInput">&times;</div>
            </div>
            $$searchResultIcon
        </div>
        <button class="export-csv pointer" data-local-action="downloadCSV">Export as CSV</button>
    </form>
    <div class="table">
        <div class="column-header first-column">GTIN</div>
        <div class="column-header">Batch</div>
        <div class="column-header">Reason</div>
        <div class="column-header">User</div>
        <div class="column-header">Creation Time</div>
        $$items
    </div>
    <div class="table-pagination">
        <button class="pagination-btn margin-right" id="previous" data-local-action="previousTablePage"><<</button>
        <button class="pagination-btn" id="next" data-local-action="nextTablePage">>></button>
    </div>
</div>

