<div class="logs-section">
    <form class="search-section">
        <div class="input-container-container">
            <label class="search-label" for="userId">Search by user ID</label>
            <div class="input-container">
                <input type="text" id="userId" name="userId" placeholder="Search by user ID">
                <div class="x-mark pointer" data-local-action="deleteInput">&times;</div>
            </div>
            $$searchResultIcon
        </div>
        <button class="export-csv pointer">Export as CSV</button>
    </form>
    <div class="table">
        <div class="column-header first-column">User ID</div>
        <div class="column-header">Action</div>
        <div class="column-header">User DID</div>
        <div class="column-header">User Group</div>
        <div class="column-header last-column">ISO Date</div>
        $$items
    </div>
</div>