dialog{
    background: none;
    max-height: 95vh;
    height: 95%;
    border-radius: 3px;
}
data-diffs-modal{
    background-color: var(--diffs-background);
}
.modal-header{
    background-color: var(--primary-background-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.modal-title{
    font-size: 1.25rem;
    font-weight: 500;
}
.right-section{
    display: flex;
    align-items: center;
}
.expand-icon{
    margin-right: 20px;
    transform: rotateZ(45deg);
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: var(--medium-grey);
    background-color: var(--diffs-background);
}

.modal-footer{
    padding: 16px;
    display: flex;
    justify-content: end;
    background-color: var(--diffs-background);
}
.column-header{
    padding: 16px 24px;
    background: var(--light-green);
    font-size: 110%;
    border-bottom: 1px solid var(--very-light-grey);
    max-width: 33%;
    text-align: left;
}
.first-column{
    border-top-left-radius: 7px;
}
.last-column{
    border-top-right-radius: 7px;
}
.table{
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--very-light-grey);
}
.right-margin{
    margin-right: 16px;
}
.cell{
    background-color: white;
    padding: 16px 24px;
}
.border{
    border-right: 1px solid var(--very-light-grey);
}