table-header{
    border-radius: 7px;
}
.header-section{
    display: grid;
    font-size: 110%;
    font-weight: bold;
}
.column-header{
    padding: 0.75rem;
    background: var(--light-green);
    border-top: 1px solid var(--very-light-grey);
}
.first-column{
    border-top-left-radius: 7px;
    border-left: 1px solid var(--very-light-grey);
}
.last-column{
    border-top-right-radius: 7px;
    border-right: 1px solid var(--very-light-grey);
}