#member-page-container{
    display:flex;
    flex-direction:column;
    padding: 35px 28px 0 28px;
}
#member-page-body{
    width:100%;
    display:flex;
    margin-top:20px;
    flex-direction:column;
    gap:28px;
}
#member-label{
    margin:0
}
.member-page-data-row{
    width:100%;
    display:flex;
    justify-content: space-between;
    gap:28px;
}
.member-page-data-row-field{
    display:flex;
    flex-direction:column;
    width:50%;
}
.data-row-field-value{
    display:flex;
    align-items:center;
    border-radius: 5px;
    border: 1px solid var(--dw-app-color);
    background: #FFF;
    font-size: 1rem;
    height: 2.5rem;
    flex: 1 1 auto;
    justify-content: start;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    transition: 150ms color, 150ms border, 150ms box-shadow;
    cursor: text;
    padding: 0 0 0 1rem;
    color:black;
}
.value-highlight-field{
    color: var(--dw-app-color);
    display:flex;
    justify-content: space-between;
    padding-right: 1rem;
}
.copy-field-button{
    display:flex;
    align-items:center;
    height:100%;
}
.copy-field-button:hover{
    cursor:pointer;
}
#groupDID,#userDID{
    border:none;
    background:none;
    color: var(--dw-app-color);
    width:100%;
}