.dw-did-generator-container {
    padding: var(--sl-spacing-x-large);
    border: 2px dashed rgb(var(--sl-color-gray-300));
    border-radius: var(--sl-border-radius-medium);
}

#my-identities-page {
    display: grid;
    gap: var(--sl-spacing-medium);
    padding: 15px;
    margin-right: 56px;
    background: #ffffff;
}