left-sidebar{
    width: 270px;
}

.left-sidebar{
    padding: 20px;
    background: white;
}
.left-sidebar-item{
    padding: 10px;
}
.left-sidebar-item-title{
    margin-left: 10px;
    color: var(--left-sidebar);
    font-weight: 600;
}