#groups-page {
    --header-color: rgb(var(--sl-color-neutral-0));
    --header-border: 3px solid rgb(var(--sl-color-primary-200));
    --header-background: rgb(var(--sl-color-primary-700));
    --subheader-color: rgb(var(--sl-color-gray-400));

    --code-color: rgb(var(--sl-color-gray-800));
    --code-background: rgb(var(--sl-color-gray-100));
    --border-color: rgb(var(--sl-color-neutral-200));

    --members-border: 1px solid rgb(var(--sl-panel-border-color));
    --members-background: rgb(var(--sl-color-neutral-100));

    padding-bottom: calc(2 * var(--sl-spacing-large));
}

#groups-page,
#groups-page main {
    display: grid;
}

#groups-page.dw-container {
    margin: unset;
    padding: 45px 0 0 0px;
}

/*
     ------------------ tabs style ------------
*/
.tab-nav-container {
    background-color: var(--dw-app-color);
    display: flex;
    width: 100%;
}

.tab-header {
    background: transparent;
    margin: 5px 5px 0px;
    padding: 10px;
    color: #8CCFB9;
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.tab-header.selected {
    border-radius: 10px 10px 0px 0px;
    color: var(--dw-app-color);
    background: url("./../images/selected-tab-backround.svg") no-repeat;
    background-size: 100% 100%;
}

.tab-header .tab-header-label {
    padding: 5px 25px;
}

.recovery-data-section {
    width: 100%;
    position: relative;
}

.recovery-data-button {
    position: absolute;
    top: -45px;
    right: 0;
}

/*.tab-header.selected:before {
    bottom: 0;
    content: "";
    display: block;
    width: 27px;
    height: 28px;
    border-radius: 23%;
    box-shadow: 7px 7px 0 0 red;
    left: -27px;
    position: absolute;
}

.tab-header.selected:after {
    bottom: 0;
    content: "";
    display: block;
    width: 27px;
    height: 28px;
    border-radius: 23%;
    box-shadow: 7px 7px 0 0 red;
    left: -27px;
    position: absolute;
}*/

/*
-------------------------------
*/
/* Domain */

/*#groups-page .dw-domain-input {*/
/*    margin-top: var(--sl-spacing-large);*/
/*}*/

/*#groups-page .dw-domain-input::part(suffix) {*/
/*    cursor: pointer;*/
/*    background-color: var(--sl-color-primary-200);*/
/*    display: flex;*/
/*}*/

/*#groups-page .dw-domain-input[disabled]::part(input) {*/
/*    opacity: 0.5;*/
/*}*/

/*#groups-page .dw-domain-input::part(input) {*/
/*    font-family: "courier new", monospace;*/
/*    padding-top: 5px;*/
/*}*/

/*#groups-page .dw-domain-input::part(base) {*/
/*    opacity: 1;*/
/*}*/

/*#groups-page .dw-domain-input sl-button::part(base) {*/
/*    border-top-left-radius: 0;*/
/*    border-bottom-left-radius: 0;*/
/*    font-weight: bold;*/
/*    font-size: 0.95em;*/
/*}*/

/*#groups-page .dw-domain-input sl-button sl-icon {*/
/*    margin-right: var(--sl-spacing-xx-small);*/
/*    font-size: 0.85em;*/
/*}*/

/* Groups */

#groups-page .dw-groups--header {
    display: flex;
    align-items: center;
}

#groups-page .dw-groups--header sl-form {
    display: none;
}

#groups-page .dw-groups--header sl-form[data-loaded] {
    display: block;
}

#groups-page .dw-groups--header sl-form::part(base) {
    display: flex;
    gap: var(--sl-spacing-large)
}

#groups-page .dw-groups--header sl-form > sl-input {
    min-width: 330px;
}

#groups-page .dw-groups--header sl-form > sl-button {
    margin-top: 23px;
}

#groups-page .dw-group {
    --dw-group-header-height: 30px;
    --dw-group-header-spaced-height: calc(var(--dw-group-header-height) + 2 * var(--sl-spacing-medium));
}

#groups-page .dw-group:first-child {
    position: relative;
    padding-top: var(--dw-group-header-spaced-height);
}

#groups-page .dw-group:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(var(--dw-group-header-spaced-height));
    background-color: var(--header-background);
}

#groups-page .dw-group:first-child .dw-group-data :nth-child(1):before,
#groups-page .dw-group:first-child .dw-group-data :nth-child(2):before,
#groups-page .dw-group:first-child sl-icon-button:before {
    display: block;
    position: absolute;
    height: var(--dw-group-header-height);
    padding: var(--sl-spacing-x-small) 0;
    bottom: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--sl-font-sans);
    color: var(--header-color);
    border-bottom: var(--header-border);
}

#groups-page .dw-group:first-child .dw-group-data :first-child:before {
    content: 'Name';
}

#groups-page .dw-group:first-child .dw-group-data :nth-child(2):before {
    content: 'DID';
}

.add-member-container {
    display: flex;
    gap: 15px;
    width: 100%;
}

.add-member-container dw-copy-paste-input {
    flex-grow: 1;
}

.add-member-button .button-icon {
    background-color: #FFFFFF;
}

.delete-member-button {
    width: 72px;
    height: 57px;
}

.delete-member-button:hover {
    background: var(--dw-app-color);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
}

.delete-member-button .button-icon {
    background-color: #000000;
}

.delete-member-button:hover .button-icon {
    background-color: #FFFFFF;
}

/*.button-icon{
    width: 16px;
    height: 16px;
    backround: url("../../assets/images/icons/plus-lg.svg") no-repeat;
    backround-size: contain;
}*/

sl-select::part(menu) {
    background: #ffffff;
    width: fit-content;
}

sl-menu-item::part(base) {
    color: var(--header-color);
}

sl-menu-item::part(base):hover {
    background: var(--code-background);
}

.dw-data-grid sl-menu-item::part(base):hover {
    background: none;
}

#groups-page .dw-group sl-menu-item .dw-group-data {
    display: grid;
    grid-template-columns: 1fr auto;
}

#groups-page .dw-group sl-menu-item .dw-group-data code {
    color: var(--code-color);
    background-color: var(--code-background);
    padding: 5px var(--sl-spacing-x-small) 0 var(--sl-spacing-x-small);
    border-radius: var(--sl-border-radius-medium);
    font-size: 0.75em;
}

/* Group content */
#groups-page sl-tab-group::part(tabs) {
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
}


#groups-page .dw-group-content > sl-tab::part(base) {
    font-size: 1.1rem;
}

#groups-page .dw-group-content > sl-tab > sl-icon {
    margin-right: var(--sl-spacing-small);
}

#groups-page sl-tab-panel {
    padding: 15px;
}

#groups-page .dw-group-content > sl-tab-panel::part(base) {
    padding: 0;
}

/* Members */

.member-item {
    position: relative;
    display: flex;
    align-items: stretch;
    font-family: var(--sl-font-sans);
    font-size: var(--sl-font-size-medium);
    font-weight: var(--sl-font-weight-normal);
    line-height: var(--sl-line-height-normal);
    letter-spacing: var(--sl-letter-spacing-normal);
    text-align: left;
    color: rgb(var(--sl-color-neutral-700));
    padding: var(--sl-spacing-xx-small) var(--sl-spacing-x-large);
    transition: var(--sl-transition-fast) fill;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

#groups-page .dw-members--header {
    align-items: center;
}

#groups-page .dw-members--header > div {
    display: none;
}

#groups-page .dw-members--header > div[data-loaded] {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

#groups-page .dw-members--header > div[data-loaded] > sl-form::part(base) {
    display: flex;
    align-items: flex-end;
    gap: var(--sl-spacing-large);
}

#groups-page .dw-members--header > div[data-loaded] > sl-form > sl-input {
    min-width: 330px;
}

#groups-page .dw-members--header > div[data-loaded] > sl-form > sl-input::part(input) {
    font-family: monospace;
    font-size: 90%;
}

#groups-page .dw-members--header > div[data-loaded] > sl-form > sl-input .dw-paste {
    margin-right: var(--sl-spacing-xx-small);
}

#groups-page .dw-members--header > div[data-loaded] > sl-form > sl-input .dw-paste::part(base) {
    color: #2F9DCF;
    font-size: calc(100% + 0.4vh);
    font-family: "DM Sans medium";
}

#groups-page .dw-members--header > div[data-loaded] > sl-form > sl-input .dw-paste::part(base):focus {
    box-shadow: none;
}

#groups-page .dw-members--header .dw-open-multiple-selection::part(base) {
    padding: 0;
}

#groups-page .dw-members--header .dw-open-multiple-selection::part(label) {
    padding-right: 0;
}

#groups-page .dw-members {
    margin-top: var(--sl-spacing-x-large);
}

#groups-page .dw-members.dw-data-grid {
    padding: 0px;
    border: none;
}

#groups-page .dw-members .no-data {
    display: block;
    padding: var(--sl-spacing-large);
    border: var(--members-border);
    background-color: var(--members-background);
    grid-column: 1 / -1;
}

#groups-page .dw-members .no-data .dw-spinner,
#groups-page .dw-members .dw-data-grid-item > div {
    padding: 0;
}

#groups-page .dw-members .dw-data-grid-item {
    padding: 5px 15px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#groups-page .dw-members .dw-data-grid-item code {
    font-family: "DM Sans regular";
    font-size: 14px;
}

#groups-page .dw-members .no-data > p {
    text-align: center;
}


#groups-page .dw-members .dw-member {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#groups-page .dw-members .dw-member > div {
    grid-column: 2 / 3;
}

#groups-page .dw-members .dw-member > div > code {
    color: var(--code-color);
    background-color: var(--code-background);
    padding: 5px var(--sl-spacing-x-small);
    border-radius: var(--sl-border-radius-medium);
    font-size: 0.75rem;
}

/* Credentials, Databases and Members */

#groups-page .dw-members--header {
    margin-top: var(--sl-spacing-xx-large);
    display: flex;
    flex-direction: column;
    gap: var(--sl-spacing-large);
    align-items: flex-start;
}

#groups-page .dw-credentials--header strong,
#groups-page .dw-databases--header strong,
#groups-page .dw-members--header strong {
    padding: var(--sl-spacing-x-small);
    border-radius: var(--sl-border-radius-medium);
}

#groups-page dw-title[header="Groups"] {
    margin-left: 28px;
    margin-bottom: 15px;
}

#groups-page .dw-credentials--header {
    padding-top: var(--sl-spacing-small);
}

#groups-page .dw-databases--header > sl-form::part(base) {
    display: flex;
    align-items: flex-end;
    gap: var(--sl-spacing-large);
}

#groups-page .dw-databases--header > sl-form > sl-input::part(input) {
    min-width: 330px;
}

#groups-page .dw-credentials,
#groups-page .dw-databases {
    margin-top: var(--sl-spacing-x-large);
}

#dw-group-content {
    overflow: hidden;
    padding: 0 28px;
    background: #fff;
}

*[disabled_feature] {
    display: none !important;
}

/* media-queries */

@media screen and (max-width: 895px) {
    #groups-page sl-input,
    #groups-page sl-input::part(input) {
        width: 100% !important;
        min-width: 0 !important;
    }

    #groups-page .dw-members--header {
        grid-template-columns: 1fr;
    }

    #groups-page .dw-members--header > div {
        border: var(--members-border);
        padding: var(--sl-spacing-medium);
    }

    #groups-page .dw-members--header > div[data-loaded] > sl-form {
        width: 100%;
        min-width: 0;
    }
}

@media screen and (max-width: 835px) {
    #groups-page .dw-members,
    #groups-page .dw-group sl-menu-item .dw-group-data {
        grid-template-columns: 1fr;
    }

    #groups-page .dw-group:first-child {
        padding-top: 0;
    }

    #groups-page .dw-group:first-child:before,
    #groups-page .dw-group:first-child .dw-group-data :nth-child(1):before,
    #groups-page .dw-group:first-child .dw-group-data :nth-child(2):before,
    #groups-page .dw-group:first-child sl-icon-button:before {
        display: none;
    }

    #groups-page .dw-group sl-menu-item .dw-group-data code {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #groups-page .dw-member > div > code {
        display: none;
    }
}

@media screen and (max-width: 815px) {
    #groups-page .dw-groups--header {
        display: grid;
        grid-template-columns: 1fr;
    }

    #groups-page .dw-credentials--header,
    #groups-page .dw-databases--header {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 595px) {
    #groups-page .dw-members--header > div {
        border: none;
        padding: 0;
    }

    #groups-page .dw-members--header > div > .dw-delete-multiple-selection {
        width: 100%;
    }
}

@media screen and (max-width: 555px) {
    #groups-page .dw-group-content > sl-tab::part(base) {
        /*font-size: 3vw;*/
        font-size: 1rem;
    }

    #groups-page .dw-members--header > div[data-loaded] > sl-form::part(base) {
        display: grid;
    }
}

@media screen and (max-width: 490px) {
    #groups-page .dw-group-content > sl-tab::part(base) {
        padding-left: var(--sl-spacing-small);
        padding-right: var(--sl-spacing-small);
    }
}

@media screen and (max-width: 385px) {
    #groups-page .dw-groups--header > sl-form > sl-button {
        margin-top: 0;
    }

    #groups-page .dw-groups--header > sl-form::part(base),
    #groups-page .dw-databases--header > sl-form::part(base) {
        display: grid;
        grid-template-columns: 1fr;
    }
}
