#member-page {
    --header-background: rgb(var(--sl-color-primary-50));
    overflow: hidden;
    background: #fff;
    padding: 15px 15px calc(2 * var(--sl-spacing-large));
    margin-right: 56px;
}

#member-page .dw-member-profile,
#member-page .dw-group-profile {
    display: grid;
    gap: var(--sl-spacing-xx-large);
    grid-template-columns: repeat(2, 1fr);
}

#member-page .dw-member-profile {
    margin: var(--sl-spacing-medium) auto;
}

.dw-member-profile,
.dw-group-profile {
    display: flex;
}

/* media-queries */

@media screen and (max-width: 815px) {
    #member-page sl-input,
    #member-page sl-input::part(input) {
        width: 100% !important;
        min-width: 0 !important;
    }

    #member-page .dw-credentials--header,
    #member-page .dw-databases--header {
        grid-template-columns: 1fr;
    }

    #member-page .dw-databases--header > sl-form::part(base) {
        display: grid;
    }
}

@media screen and (max-width: 625px) {
    #member-page .dw-member-profile,
    #member-page .dw-group-profile {
        grid-template-columns: 1fr;
    }
}
