<div class="sidebar-item groups-page" data-local-action="changePage groups-page">
    <span>Groups</span>
</div>
<div class="sidebar-item my-identities-page" data-local-action="changePage my-identities-page">
    <span>My identities</span>
</div>
<div class="sidebar-item integration-page" data-local-action="changePage integration-page">
    <span>Integration</span>
</div>
<div class="sidebar-item audit-page" data-local-action="changePage audit-page">
    <span>Audit</span>
</div>
<div class="sidebar-item health-check-page run-results-page component-details-page" data-local-action="changePage health-check-page">
    <span>Health Check</span>
</div>
<div class="sidebar-item logout">
    <span>Logout</span>
</div>