

#addressContainers .form-field {
    padding: 1rem !important;
    margin-top: 1rem !important;
}

#addressContainers .dragging-ghost {
    background: var(--light-green) !important;
}  

.form-field.card {
    border: none !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border: 1px solid lightgray !important;  
}
.form-field.card input {
    pointer-events: none;
}
.form-field.card label {
    width: 90%;
}

.form-field.card .save {
    display: none;
}

.form-field:not(.card) .save {
    display: inline-block;
}
 
.form-field:not(.card) .remove,
.form-field:not(.card) .edit {
    display: none;
}

.icon-button {
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    padding: .25rem .5rem !important;
    cursor: pointer;
}
.icon-button img {
    transform: translatey(2px) !important;
}
.icon-button.save {
    border: 1px solid var(--primary-background-color);
}
.icon-button.save:hover {
    background: var(--light-green);
}




.address-field .form-field {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}
.address-field .form-field:not(.label) {
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.address-field .form-field.label {
    border: none !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.address-field input {
    width: calc(90%) !important;
}
.address-field button {
    position: relative;
    top: 5px;
    margin-left: 5px;
    background: none;
    border: 2px solid #328569;
    height: 40px;
    font-weight: 500;
    color: #328569;
    width: 70px;
    border-radius: 4px;
    cursor: pointer;
}

.address-field button:disabled {
    cursor: default;
    opacity: .4 !important;
    pointer-events: none;

}


.page-header {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-background-color);
    font-weight: 700;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1.802rem;
}

.batch-version {
    font-size: 16px;
    font-weight: 400;
}

.read-only-label {
    font-weight: 700;
    color: var(--light-green);
    font-size: 1.802rem;
    margin-bottom: 10px;
}

.page-body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    color: var(--medium-grey);
}

.EDIT_BATCH .double-state-element[page-mode="add-batch"],
.ADD_BATCH .double-state-element[page-mode="edit-batch"] {
    display: none !important;
}

.batch-data-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-right {
    width: 50%;
}

.column-left {
    margin-right: 60px;
    width: 50%;
}


#productCode {
    color: var(--select-color);
    outline: none;
    border: none;
    background: none;
    text-align: left;
    margin: 10px 0 10px -3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

#day-selection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    gap: 5px;
    align-items: self-end;
}

#enableExpiryDay {
    top: 2px;
    position: relative;
}

#day-selection .gs1-date {
    font-size: 12px;
}


.leaflet-container {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    border: 1.5px solid #328569;
    margin-top: 1em;
    padding: 0.5em;
}

.tab-button {
    font-size: 16px;
    margin-top: 2.2rem;
    border: 1px solid var(--primary-background-color);
    border-radius: 3px;
    padding: 7px;
    background: none;
    color: var(--primary-background-color);
}

.default-button {
    background-color: var(--primary-background-color);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: inherit;
}

#nameMedicinalProduct {
    resize: none;
}

.form-buttons {
    margin-top: calc(60px - 1rem);
}

#invented-name, #name-of-medicinal-product {
    color: var(--select-color);
    resize: none;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
}


.advanced-settings {
    margin-top: 60px !important;
}

#recallLabel {
    background-color: transparent;
    border: none;
    color: fieldtext;
    font-size: inherit;
    margin-top: 20px;
    margin-bottom: 0.75rem;
}
