.page-header {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-background-color);
    font-weight: 700;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1.802rem;
}
.batch-version {
    font-size: 16px;
    font-weight: 400;
}

.page-body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    color: var(--medium-grey);
}

.batch-data-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-right {
    width: 50%;
}

.column-left {
    margin-right: 60px;
    width: 50%;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: 4px 0.75rem 0px;
    border-bottom: 1.5px solid var(--primary-background-color);
}

.label {
    color: var(--primary-background-color);
}

.text-input::placeholder {
    font-size: 14px;
    font-style: italic;
}

.text-input {
    font-size: 16px;
    border: 0;
    outline: none;
    margin: 10px 0;
}

.text-input-disabled {
    background: var(--disabled-background);
    font-size: 16px;
    border: 0;
    outline: none;
    margin: 10px 0;
}

#productCode {
    color: var(--select-color);
    outline: none;
    border: none;
    background: none;
    text-align: left;
    margin: 10px 0 10px -3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.text-input:focus {
    border: none;
}

.form-field-container .form-field {
    margin-top: 1rem;
}

.form-field:not(:first-child) {
    margin-top: 1rem;
}

.label-container {
    display: flex;
    justify-content: space-between;
}

.pen-square {
    width: 16px;
}

.pen-square-white {
    width: 16px;
    fill: white;
}

.form-field-container {
    display: flex;
    justify-content: space-between;
}

#expiry-date, #day-selection {
    width: 50%;
}

#day-selection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: none;
}

#date {
    /* Firefox overlapping of default calendar Icon */
    /*margin: 10px 0px 10px 4.34px; */
    width: 100%;
}

input[type="date"] {
    outline: none;
    border: none;
}

input[type="month"] {
    outline: none;
    border: none;
}

.disabled-form-field {
    display: flex;
    color: var(--disabled);
    border-color: var(--disabled);
    background: var(--disabled-background);
}

.checkbox {
    padding: 10px;
    border-bottom: none;
    display: block;
    min-height: initial;
}

.leaflet-container {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    border: 1.5px solid #328569;
    margin-top: 1em;
    padding: 0.5em;
}

.tab-button {
    font-size: 16px;
    margin-top: 2.2rem;
    border: 1px solid var(--primary-background-color);
    border-radius: 3px;
    padding: 7px;
    background: none;
    color: var(--primary-background-color);
}

.default-button {
    background-color: var(--primary-background-color);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: inherit;
}

.form-buttons {
    margin-top: calc(60px - 1rem);
}

#invented-name, #name-of-medicinal-product {
    color: var(--select-color);
}

.checkbox-container {
    display: flex;
    align-items: center;
}

#custom-date-icon {
    position: relative;
    display: inline-block;
}

#custom-date-icon {
    position: relative;
}

#custom-date-icon svg {
    /* Firefox Default Calendar Icon overriding */
    position: absolute;
    right: -1.24px;
    top: 11.4px;
    width: 19px;
    height: 13px;
    cursor: pointer;
}

/* Chrome,Safari,Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="month"]::-webkit-calendar-picker-indicator {
    display: none;
}

#displayDate {
    width: 100%;
}

#svg2 {
    display: none;
}

.date-format-remover::-webkit-datetime-edit,
.date-format-remover::-webkit-inner-spin-button,
.date-format-remover::-webkit-clear-button {
    display: none;
}

.date-format-remover:before {
    position: absolute;
    top: 0.45rem;
    content: attr(data-date);
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0px;
    outline: none;
    resize: none;
    overflow: auto;
}

#custom-date-icon svg {
    z-index:-1  ;
}