@import url("../../assets/fonts/fontawesome/font-awesome.min.css");
:host {
    --sl-input-border-radius-large: 0;
    --sl-input-border-radius-medium: 0;
    --sl-input-border-radius-small: 0;
    --sl-input-font-family: monospace;
}

:host sl-tag {
    font-family: monospace;
}

:host sl-tag::part(base) {
    user-select: auto;
    cursor: auto;
    background-color: rgb(var(--sl-input-background-color-disabled));
    border-color: rgb(var(--sl-input-border-color-disabled));
    color: rgb(var(--sl-input-color-disabled));
    opacity: 0.5;
}

:host > .main {
    display: grid;
    grid-template-columns: auto auto 1fr;
}

:host > .main > .content {
    display: flex;
}

:host > .footer {
    text-align: right;
}

:host > .footer .dw-icon-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    background: none;
    border: none;
}

:host > .footer .dw-icon-button .button-icon[icon-name="shield-fill-plus"] {
    --svg: url("../../assets/images/icons/shield-fill-plus.svg");
    background: #FFFFFF;
}

:host > .footer .dw-icon-button .button-label {
    font-size: 18px;
    flex-grow: 1;
}

:host > .footer .dw-icon-button .button-icon {
    width: 16px;
    height: 16px;
    align-self: center;
    backround: no-repeat;
    backround-size: contain;
    -webkit-mask: var(--svg);
    /* Firefox and Safari */
    mask: var(--svg);
}

:host > .footer .dw-action-button {
    background-color: var(--dw-app-color);
    box-shadow: none;
    border: 1px solid var(--dw-app-color);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    width: 15%;
    min-width: 190px;
    margin: 0.5rem 0 0 0;
    float: right;
}

:host > .footer .dw-action-button:disabled {
    background-color: var(--dw-app-disabled-color);
    border: 1px solid var(--dw-app-disabled-color);
}

:host > .footer .dw-action-button:hover {
    background: rgb(var(--sl-color-primary-50));
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .65);
}

:host .did-ssi-key,
:host .did-ssi-sread,
:host .did-ssi-group {
    display: grid !important;
}

:host .did-ssi-key,
:host .did-ssi-name,
:host .did-ssi-group {
    grid-template-columns: auto auto 1fr;
}

:host .did-ssi-sread {
    grid-template-columns: auto auto 1fr;
}

:host .did-ssi-sread > .content {
    display: grid;
    grid-template-columns: 1fr 1fr 55px;
    width: 100%;
    max-width: 100%;
}

:host [hidden] {
    display: none;
}

.dw-action-button::part(base) {
    background: rgb(var(--sl-color-primary-green));
    color: #ffffff;
    border: none;
    border-radius: 6px;
}

.dw-action-button::part(base):hover {
    background: rgb(var(--sl-color-primary-50));
    color: #ffffff;
    border: none;
}

span.input--did {
    display: flex;
    align-items: center;
    border: 1px solid;
    font-size: var(--sl-button-font-size-large);
    line-height: calc(var(--sl-input-height-large) - var(--sl-input-border-width) * 2);
    border-radius: var(--sl-input-border-radius-large);
    padding: 0 var(--sl-spacing-medium);
    user-select: auto;
    cursor: auto;
    background-color: rgb(var(--sl-input-background-color-disabled));
    border-color: rgb(var(--sl-input-border-color-disabled));
    color: rgb(var(--sl-input-color-disabled));
    opacity: 0.5;
    height: calc(var(--sl-input-height-medium) - var(--sl-input-border-width) * 2);
}

input {
    width: 100%;
    border: solid var(--sl-input-border-width);
    height: calc(var(--sl-input-height-medium) - var(--sl-input-border-width) * 2);
    background-color: rgb(var(--sl-input-background-color-disabled));
    border-color: rgb(var(--sl-input-border-color-disabled));
    opacity: 0.5;
    cursor: not-allowed;
    border-radius: var(--sl-input-border-radius-medium);
    font-size: var(--sl-input-font-size-medium);
    font-family: var(--sl-input-font-family);
    font-weight: var(--sl-input-font-weight);
    letter-spacing: var(--sl-input-letter-spacing);
    color: rgb(var(--sl-input-color-disabled));
    padding: 0px 10px;
}

select:disabled {
    background-color: rgb(var(--sl-input-background-color-disabled));
    border-color: rgb(var(--sl-input-border-color-disabled));
    opacity: 0.5;
    cursor: not-allowed;
    border-radius: var(--sl-input-border-radius-medium);
    font-size: var(--sl-input-font-size-medium);
    height: var(--sl-input-height-medium);
    font-family: var(--sl-input-font-family);
    font-weight: var(--sl-input-font-weight);
    letter-spacing: var(--sl-input-letter-spacing);
    color: rgb(var(--sl-input-color-disabled));
    padding: 0px 10px;
}
